<html>
  <head>
    <title>Leak Dashboard</title>
  </head>
  <body>
    <h1>Top objects by class</h1>
    <ul>
      <% @top_by_class[0...25].each do |klass, count| %>
        <li><strong><%= count %></strong>: <%= klass.name || klass.inspect %></li>
      <% end %>
    </ul>
    <h1>Redefined classes</h1>
    <ul>
      <% @redefined_classes.select { |k,c| c > 1}.each do |class_name, count| %>
        <li><strong><%= count %></strong>: <%= class_name %></li>
      <% end %>
    </ul>
  </body>
</html>
